<h2>Event Data:</h2>

<label>Title: </label>
<p><%= @event.title %></p>

<label>Date: </label>
<p><%= @event.date %></p>

<label>Local: </label>
<p><%= @event.local %></p>

<label>Description: </label>
<p><%= @event.description %></p>

<label>Author: </label>
<p><%= @event.creator.name %></p>


