<div class=row>

  <div class="col">

    <h2>Event Data:</h2>

    <label>Title: </label>
    <p><%= @event.title %></p>

    <label>Date: </label>
    <p><%= @event.date %></p>

    <label>Local: </label>
    <p><%= @event.local %></p>

    <label>Description: </label>
    <p><%= @event.description %></p>

    <label>Author: </label>
    <p><%= @event.creator.name %></p>

    <td><%= link_to "Attend", event_event_attendings_path(@event.id), method: :post %></td>

  </div>

  <div class="col-4">
    <p>Attendance List</p>
    <ul class="list-group">
    <% @event.attendees.each do |attendee| %>
      <li class="list-group-item"><%= attendee.name %></li>
    <% end %>
    </ul>
  </div>
  
</div>



